version: "{build}"
os: Windows Server 2012 R2
branches:
  only:
    - master
test: off
deploy: off

install:
  - appveyor DownloadFile https://atom.io/download/windows -FileName AtomSetup.exe
  - AtomSetup.exe /silent
  # The following installs and sets up PHP
  - cinst -y php
  - cd c:\tools\php
  - copy php.ini-production php.ini
  - echo date.timezone="UTC" >> php.ini
  - echo extension_dir=ext >> php.ini
  - echo extension=php_openssl.dll >> php.ini
  - SET PATH=C:\tools\php\;%PATH%
  - php -r "readfile('https://getcomposer.org/installer');" | php -- --filename=composer
  - php composer config -g github-oauth.github.com cc4a091c096e7d3cfe053c3f669fb840be60ab98
  - php composer global require "squizlabs/php_codesniffer=*"
  - SET PATH=%APPDATA%\Composer\vendor\bin;%PATH%

build_script:
  - cd %APPVEYOR_BUILD_FOLDER%
  - SET PATH=%LOCALAPPDATA%\atom\bin;%PATH%
  - apm clean
  - apm install
  - apm test
